<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Defio - Social Challenges</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <div class="container-fluid">
       <nav>
        <div class="nav-wrapper">
          <%= link_to 'Defio', root_path, class:'brand-logo'%>
          <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <% if user_signed_in? %>
              <li><%= link_to "Hello, #{current_user.username}", "../users/#{current_user.username}"%></li>
              <li><%= link_to 'New post', new_post_path %></li>
              <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Login', new_user_session_path %></li>
              <li><%= link_to 'What is Defio?', root_path %></li>
              <li><%= link_to 'Join the challenge', new_user_registration_path %></li>
            <% end %>
          </ul>
          <ul class="side-nav" id="mobile-nav">
            <% if user_signed_in? %>
              <li><%= link_to "Hello, #{current_user.username}", "../users/#{current_user.username}"%></li>
              <li><%= link_to 'New post', new_post_path %></li>
              <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Login', new_user_session_path %></li>
              <li><%= link_to 'What is Defio?', root_path %></li>
              <li><%= link_to 'Join the challenge', new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container">
      <% if flash[:error] %>
        <p><%= flash[:error] %></p>
      <% end %>
      <% if flash[:alert] %>
        <p><%= flash[:alert] %></p>
      <% end %>
      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
