<!DOCTYPE html>
<html>
  <head>
    <title>Defio - Social Challenges</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
       <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Defio</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if user_signed_in? %>
              <%= link_to "users/#{current_user.username}" do %>
                <li>Hello, <%= current_user.username %></li>
              <% end %>
            <% else %>
              <li>Log in</li>
            <% end %>
            <li>What is Defio?</li>
            <li>Join the challenge</li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
