<!DOCTYPE html>
<html>
  <head>
    <title>Defio - Social Challenges</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
       <nav>
        <div class="nav-wrapper">
          <%= link_to 'Defio', root_path, class:'brand-logo'%>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if user_signed_in? %>
              <%= link_to "../users/#{current_user.username}" do %>
                <li>Hello, <%= current_user.username %></li>
              <% end %>
              <li><%= link_to 'New post', new_post_path %></li>
              <li><%= link_to 'Log out', destroy_user_session_path %></li>
            <% else %>
              <li>Log in</li>
            <% end %>
            <li>What is Defio?</li>
            <li>Join the challenge</li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container">
      <% if flash[:error] %>
        <p><%= flash[:error] %></p>
      <% end %>
      <% if flash[:alert] %>
        <p><%= flash[:alert] %></p>
      <% end %>
      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
